<footer>
  <div
    class="prose mx-auto mt-12 max-w-screen-md border-t-1 border-gray-200 text-center"
  >
    <ol class="list-none flex justify-center gap-2">
      <li><a href="/">Home</a></li>
      <li><a href="/posts/">Blog</a></li>
      <li><a href="/elixir-consulting/">Elixir Consulting</a></li>
      <li><a href="/values/">Values</a></li>
      <li><a href="/follow/">Follow</a></li>
      <li><a href="/now/">Now</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/search/">Search</a></li>
    </ol>

    <!-- prettier-ignore -->
    <p>
      The source of this site is
      <a href="https://github.com/zorn/mikezornek.com">hosted on GitHub</a>.
    </p>
  </div>

  {{/* This comment is here to verify my personal website on Mastodon. */}}
  <a class="invisible" rel="me" href="https://jawns.club/@zorn">Mastodon</a>
</footer>
