<header>
  {{/* Purple horizontal row. */}}
  <div class="bg-purple-600 bg-[url(/images/dark-mosaic.png)] py-6">
    {{/* Container for the header content. */}}
    <div class="mx-auto max-w-screen-md text-white text-shadow-lg/30">
      <h1 class="font-[Ubuntu] text-6xl font-bold">{{ site.Title }}</h1>
    </div>
  </div>

  {{/* Transparent horizontal row. */}}
  <div class="mx-auto max-w-screen-md">
    {{ $currentSectionHighlight := .Params.sectionHighlight }}
    {{ with .Site.Menus.main }}
      <nav>
        <div class="mb-12">
          <ol class="my-4 list-none">
            {{ range . }}
              <li
                class="{{ if (eq .Name $currentSectionHighlight) }}
                  border-b-8 pb-2 border-purple-700
                {{ end }} mb-2 inline-block pr-4 font-[Ubuntu] text-2xl font-bold md:mb-0 md:inline"
              >
                <a class="" href="{{ .URL | relURL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ol>
        </div>
      </nav>
    {{ end }}
  </div>
</header>
