<div class="not-prose my-12 text-center">
  <a
    href="mailto:mike@mikezornek.com"
    class="mr-4 inline-block rounded-lg border border-black bg-purple-600 px-2.5 py-2 text-2xl text-white no-underline hover:underline active:text-red-500"
  >
    Say hello via email
  </a>
  <a
    href="https://savvycal.com/zorn/chat"
    class="mr-4 inline-block rounded-lg border border-black bg-purple-600 px-2.5 py-2 text-2xl text-white no-underline hover:underline active:text-red-500"
  >
    Create a calendar meeting
  </a>
</div>
