<div class="flex items-center gap-4">
  <a title="GitHub" class="size-6 pt-1" href="https://github.com/zorn">
    {{ partial "svgs/github.html" . }}
  </a>
  <a title="Mastodon" class="size-6 pt-1" href="https://jawns.club/@zorn">
    {{ partial "svgs/mastodon.html" . }}
  </a>
  <a
    title="Bluesky"
    class="size-6 pt-1"
    href="https://bsky.app/profile/mikezornek.com"
  >
    {{ partial "svgs/bluesky.html" . }}
  </a>
  <a
    title="Create a meeting on my calendar"
    class="size-6"
    href="https://savvycal.com/zorn/chat"
  >
    {{ partial "svgs/calendar.html" . }}
  </a>

  <a title="Email me" class="size-6 pt-1" href="mailto:mike@mikezornek.com">
    {{ partial "svgs/email.html" . }}
  </a>
  <a title="Search the site" class="size-6 pt-1" href="/search">
    {{ partial "svgs/search.html" . }}
  </a>
</div>
