{
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-go-template",
        "@awmottaz/prettier-plugin-void-html"
    ],
    "overrides": [
        {
            "files": [
                "*.html"
            ],
            "options": {
                "parser": "go-template"
            }
        }
    ]
}
