{{ partial "header.html" . }}

<p><img src="/images/zorn_square.png" class="avatar" />Hello! My name is <strong>Mike Zornek</strong>. I am a
    self-employed developer
    and teacher who focuses on the web
    as well as iOS. I live in Bensalem, PA (just outside of Philadelphia) and you can often find me coding at <a href="http://indyhall.org">IndyHall</a>,
    a popular coworking space and community.</p>

<p>As far as programming and tech goes, I've very excited about <a href="https://elixir-lang.org/">Elixir</a>, <a href="https://phoenixframework.org/">Phoenix</a>,
    <a href="https://graphql.org/">GraphQL</a> and other modern web tech. I
    also have a long history of developing for the <a href="https://developer.apple.com/">Mac and iOS</a>. If you want
    more info on hiring me to help with your
    project, see <a href="http://zornlabs.com/">my company site</a>.</p>

<p>I've always enjoyed entrepreneurship and have built and sold various products in my career. I continue to fuel my
    interests through many podcasts and books. Hopefully in 2019 I'll have some new stuff to share. Stay tuned.</p>

<p>This blog hosts long form content and has an <a href="/index.xml">RSS feed</a> if you know how to use such things.
    If
    you want to follow my
    day
    to day quips, check out my <a href="http://microblog.mikezornek.com/">Micro.Blog account</a>. It also has an <a
        href="http://microblog.mikezornek.com/feed.xml">RSS
        feed</a>.</p>

<h2>Recent Posts</h2>

{{ range $index, $page := (.Paginate (where (where .Data.Pages "Type" "posts") ".Params.hidden" "!=" "true" )).Pages }}
{{ if ne $index 0 }}
{{ end }}
{{ .Render "li" }}
{{ end }}
{{ partial "siteinfo.html" . }}
{{ partial "footer.html" . }}