img.avatar {
  float: right;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 0 0 1em;
}

p {
  font-size: 18px;
}

.p-article__body 
{
  margin: 20px 0 60px;
}

pre, code {
  font-size: 18px;
  line-height: 1.5;
}

article h1 {
  margin-bottom: 0;
}

.l-main, .l-nav {
  max-width: 890px;
}

blockquote p {
  margin-bottom: 1em;
}