<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ .Title }} - {{ .Site.Title }}</title>

	{{ with .Site.Params.description }}
	<meta name="description" content="{{ . }}">
	{{ end }}

	{{ template "_internal/twitter_cards.html" . }}

	{{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">
	{{ end }}

	<link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Ubuntu:700&display=swap"
		rel="stylesheet">

	{{ with .OutputFormats.Get "RSS" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101111096);</script>
	<script async src="//static.getclicky.com/js"></script>
	<script src="https://player.vimeo.com/api/player.js"></script>

</head>

<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>

</html>