{{ define "main" }}
<div id="for-hire" class="content-row">

    <p><img src="/images/zorn_row.jpeg" class="zorn-row" /></p>

    <h2>A freelance consultant, developer, and teacher who can join your project team to:
    </h2>

    <ul class="jobs">
        <li>accelerate the delivery of new features or elimination of technical debt</li>
        <li>plan and break down work for a new project</li>
        <li>manage a group of individual contributors</li>
        <li>mentor junior developers</li>
        <li>level up the documentation, automation, or component systems</li>
        <li>join the QA team and, with code-level knowledge, improve software stability</li>
    </ul>

    <div class="contact-button-group">
        <a href="mailto:zorn@zornlabs.com">Reach out via email</a>
        <a href="https://savvycal.com/zorn/chat">Create a calendar meeting</a>
    </div>

    <h2 style="margin-top: 3em;">Technology Proficiencies</h2>

    <h3 class="proficiency-header">Expert</h3>

    <ol class="proficiency-list">
        <li style="background-color: #7673ce;">Elixir</li>
        <li style="background-color: #ed8702;">Phoenix</li>
        <li style="background-color: #ed8702;">LiveView</li>
        <li style="background-color: #23a506;">Project Management</li>
        <li>GitHub Projects</li>
    </ol>

    <h3 class="proficiency-header">Experienced</h3>

    <ol class="proficiency-list">
        <li style="background-color: #5c9a18;">Absinthe/GraphQL</li>
        <li style="background-color: #38bdf8;">Tailwind</li>
        <li>GitHub Actions</li>
        <li style="background-color: #316192;">Postgres</li>
        <li style="background-color: #f6f623; color:#000;">CQRS/Event Sourcing</li>
        <li style="background-color: #186328;">Oban</li>
    </ol>

    <h3 class="proficiency-header">Beginner</h3>

    <ol class="proficiency-list">
        <li style="background-color: #f74b00;">Rust</li>
        <li style="background-color: #2088ff;">Docker</li>
        <li style="background-color: #00d8ff; color:#000;">React</li>
        <li style="background-color: #00d8ff; color:#000;">React Native</li>
    </ol>

    <h3 class="proficiency-header">Upcoming</h3>

    <ol class="proficiency-list">
        <li style="background-color: #f35124;">Svelte</li>
        <li style="background-color: #f35124;">SvelteKit</li>
        <li style="background-color: #ed8702;">Ash</li>
        <li style="background-color: #f6a81c;">OpenTelemetry</li>
        <li>Advanced CI/CD</li>
        <li style="background-color: #7673ce;">Open Source Elixir Packages</li>
    </ol>

    <h3 class="proficiency-header">Historical</h3>

    <ol class="proficiency-list">
        <li style="background-color: #349eff;">Objective-C</li>
        <li style="background-color: #f04e29;">Swift</li>
        <li style="background-color: #2a5099;">MacOS</li>
        <li>iOS</li>
        <li style="background-color: #dc0000;">Ruby on Rails</li>
        <li style="background-color: #617cbe;">PHP</li>
        <li style="background-color: #0196c1;">Perl</li>
    </ol>

    <h2 style="margin-top: 3em;">Rate and Availability</h2>

    <p><strong>Available</strong> and open to a variety of project types and sizes.</p>

    <p>My rate is <strong>$100-$150</strong> per hour, with discounts available for open-source
        initiatives.</p>

    <div class="contact-button-group">
        <a href="mailto:zorn@zornlabs.com">Reach out via email</a>
        <a href="https://savvycal.com/zorn/chat">Create a calendar meeting</a>
    </div>

    <h2 style="margin-top: 3em;">Testimonials</h2>

    <blockquote class="testimonial" cite="https://www.linkedin.com/in/mikezornek/">

        Michael's worked with us on multiple projects as a fractional engineering leader and I couldn't recommend him
        more highly. He's excellent at working with non-technical stakeholders and junior engineers alike, he's a great
        engineer, and a deep appreciation for context permeates all the work he does. He's also a really nice guy and
        very easy to work with. You should work with Mike if you get the chance.

        <footer>~ Peter Berg, Founder at Forward <a href="https://www.linkedin.com/in/mikezornek/">via
                LinkedIn</a></footer>
    </blockquote>



    <blockquote class="testimonial" cite="https://www.linkedin.com/in/mikezornek/">

        "Zorn is a great Software Engineer, but also a great mentor to other Engineers on the team and an amazing
        partner
        and resource for Product teams. I would love to work with him again!"

        <footer>~ Robert Prehn, Fractional CTO & Tech Lead <a href="https://www.linkedin.com/in/mikezornek/">via
                LinkedIn</a></footer>
    </blockquote>


    <blockquote class="testimonial" cite="https://www.linkedin.com/in/mikezornek/">
        "We would highly recommend Michael to anyone who would benefit from a senior software developer with an
        excellent technical approach, wide and deep knowledge as well as a great attitude."<br />
        <br />
        "Michael was a valuable contributor to our startup project. His feedback during code reviews was invaluable. He
        dramatically improved the quality of our code base. As if that wasn't enough, Michael did an excellent job
        leading by example in software development best practices, while demonstrating excellent initiative, and self
        management. We would gladly work with Michael again."

        <footer>~ Taun Chapman, CTO & Co-founder at ROAR for Good <a href="https://www.linkedin.com/in/mikezornek/">via
                LinkedIn</a></footer>
    </blockquote>

    <p>More background and testimonials <a href="https://www.linkedin.com/in/mikezornek/">on LinkedIn</a>.</p>



    <h2 style="margin-top: 3em;">Examples of My Work</h2>

    <h2>Open Source</h2>

    <div>
        <p><strong>Franklin</strong> is written in Elixir, Phoenix, and LiveView and is an intentionally over-engineered
            blog
            application. It uses an event-sourced / CQRS core (via <a
                href="https://github.com/commanded/commanded">Commanded</a>) alongside a modern component-based UI
            presentation. It aims to make even the simple things overly complex in the spirit of personal education
            toward these architectural decisions.</p>

        <p>Franklin is no longer an active project but remains on GitHub via its <a
                href="https://github.com/zorn/franklin">public code repo</a> and <a
                href="https://github.com/users/zorn/projects/1/views/5">project board</a>. for a sense of where it was
            headed.</p>
    </div>

    <h2>Videos</h2>

    <div>
        <p style="margin-top: 2em; font-weight: bold; font-size: 22px; clear: both;">
            Creating Your First Elixir/Phoenix CI Check with GitHub Actions
        </p>

        <p>
            <a style="float:right; margin-left: 8px;" href="https://www.youtube.com/watch?v=wF3llh4VLlQ">
                <img width="275px" src="/images/for-hire/github-actions.jpeg" />
            </a>

            <a href="https://www.youtube.com/watch?v=wF3llh4VLlQ">YouTube</a> &mdash; This talk is for people
            curious about
            the basics of GitHub Actions and how they can utilize this
            automation tool to better verify code changes within their Elixir projects. The presentations consisted of
            of a lecture, live audience exercises on GitHub, and close with time for questions.
        </p>

        <p>GitHub Actions enables you to build custom automations right within your GitHub repo. These
            automations can be used for Continuous Integration checks (verifying the app builds with no
            warnings,
            all the tests pass, etc), Continuous Deployment (package your app for release, execute the release,
            etc.), and many other creative workflows. The service is free for public repos and has a generous
            allocation for free-account private repos.
        </p>
    </div>




    <div>
        <p style="margin-top: 2em; font-weight: bold; font-size: 22px; clear: both;">
            GitHub Projects to Help You Organize Your Side Project TODO List
        </p>

        <p>
            <a style="float:right; margin-left: 8px;" href="https://www.youtube.com/watch?v=bUE846fGFec">
                <img width="275px" src="/images/for-hire/github-projects.jpeg" />
            </a>

            <a href="https://www.youtube.com/watch?v=bUE846fGFec">YouTube</a> &mdash; During this presentation, Mike
            Zornek will introduce and demo GitHub Projects, which helps you track and manage issue status alongside
            custom fields related to your GitHub issues.
        </p>

        <p>Using GitHub Projects, you can use it better break down and schedule the work of your side project.</p>

    </div>

    <div>
        <p style="margin-top: 2em; font-weight: bold; font-size: 22px; clear: both;">
            Exercism Elixir Track
        </p>

        <p>
            <a style="float:right; margin-left: 8px;"
                href="https://www.youtube.com/playlist?list=PLcuknvxBZ9L6wgG61cQnfyjfNUSFX2G5O">
                <img width="275px" src="/images/for-hire/exercism.jpeg" />
            </a>

            <a href="https://www.youtube.com/playlist?list=PLcuknvxBZ9L6wgG61cQnfyjfNUSFX2G5O">YouTube</a> &mdash;
            Exercism is a platform that provides a learning experience for programmers. It provides a series of
            exercises that you can work through.
        </p>

        <p>I recorded myself working through the Elixir track and created a video
            series to help others learn Elixir.</p>


    </div>

    <div>
        <p style="margin-top: 2em; font-weight: bold; font-size: 22px; clear: both;">
            Code walk: Updating Franklin to Phoenix 1.7.1
        </p>

        <p>
            <a style="float:right; margin-left: 8px;" href="https://www.youtube.com/watch?v=RYOc2nL-qfY">
                <img width="275px" src="/images/for-hire/phoenix-update.jpeg" />
            </a>

            <a href="https://www.youtube.com/watch?v=RYOc2nL-qfY">YouTube</a> &mdash; In this screencast, I walk through
            how I updated Franklin to the latest major version of Phoenix, showing some helpful tools and things to be
            on the lookout for.
        </p>

    </div>


    <h2 style="margin-top: 3em; clear: both;">Articles</h2>

    <ul>
        <li>
            <a href="/posts/2021/2/securing-webhook-payload-delivery/">Securing Webhook
                Payload Delivery in Phoenix</a>
        </li>
        <li>
            <a href="/posts/2023/3/potential-consulting-client-questions/">Potential Consulting
                Client Questions</a>
        </li>
        <li>
            <a href="/posts/2023/4/technical-debt/">Notes about Technical Debt</a>
        </li>
    </ul>

    <h2 style="margin-top: 3em; clear: both;">Community</h2>

    <ul>
        <li>
            <a href="https://elixirbookclub.com/">Elixir Book Club</a> (member) biweekly book club reading and
            discussing topics of Elixir and general programming.
        </li>

        <li>
            <a href="https://academy.dockyard.com/">DockYard Academy</a> (volunteer mentor) is a fully-remote
            educational program focused on providing practical programming experience to prepare students to fill the
            many Elixir roles currently seeking skilled developers. I volunteer as a mentor on occasion.
        </li>

    </ul>

    <div class="contact-button-group">
        <a href="mailto:zorn@zornlabs.com">Reach out via email</a>
        <a href="https://savvycal.com/zorn/chat">Create a calendar meeting</a>
    </div>

</div>

{{ end }}
