{{ define "main" }}
	<main>
	<div class="content-row">
		<article>
			<h1 style="margin-bottom:0;">{{ .Title }}</h1>
			<p style="margin-top:0;color:#999;">Posted on <time>{{ .Date.Format "Jan 2, 2006" }}</time></p>
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</div>
	</main>
{{ end }}
