{{ define "main" }}
<div id="for-hire" class="max-w-screen-md mx-auto">

    <div class="prose max-w-none prose-p:leading-[1.5] prose-headings:mb-2 prose-a:text-purple-600 prose-a:visited:text-purple-900">


    <p><img src="/images/zorn_row.jpeg" class="zorn-row" /></p>

    <p>A freelance consultant, developer, and teacher who can join your project team to:
    </p>

    <ul class="jobs">
        <li>accelerate the <strong>delivery of new features</strong> or elimination of technical debt</li>
        <li>plan and <strong>break down work</strong> for a new project</li>
        <li><strong>manage</strong> a group of individual contributors</li>
        <li><strong>mentor</strong> junior developers</li>
        <li>level up the <strong>documentation</strong>, automation, or component systems</li>
        <li>join the QA team and, with code-level knowledge, <strong>improve software stability</strong></li>
    </ul>

    <div class="text-center my-12 not-prose">
        <a href="mailto:zorn@zornlabs.com" class="inline-block border border-black rounded-lg bg-[#4A90E2] text-white px-2.5 py-2 text-2xl no-underline mr-4 hover:underline active:text-red-500">Reach out via email</a>
        <a href="https://savvycal.com/zorn/chat" class="inline-block border border-black rounded-lg bg-[#4A90E2] text-white px-2.5 py-2 text-2xl no-underline mr-4 hover:underline active:text-red-500">Create a calendar meeting</a>
    </div>


    <h2 style="margin-top: 3em;">Technology Proficiencies</h2>

    <h3 style="margin-bottom: 0; margin-top: 0;">Expert</h3>

    <ol class="list-none p-0 m-0">
        <li class="inline-block px-2 py-1 text-white bg-[#7673ce]">Elixir</li>
        <li class="inline-block px-2 py-1 text-white bg-[#ed8702]">Phoenix</li>
        <li class="inline-block px-2 py-1 text-white bg-[#ed8702]">LiveView</li>
        <li class="inline-block px-2 py-1 text-white bg-[#23a506]">Project Management</li>
        <li class="inline-block px-2 py-1 text-white bg-[#000000]">GitHub Projects</li>
    </ol>

    <h3 style="margin-bottom: 0; margin-top: 0;">Experienced</h3>

    <ol class="list-none p-0 m-0">
        <li class="inline-block px-2 py-1 text-white bg-[#5c9a18]">Absinthe/GraphQL</li>
        <li class="inline-block px-2 py-1 text-white bg-[#38bdf8]">Tailwind</li>
        <li class="inline-block px-2 py-1 text-white bg-[#000000]">GitHub Actions</li>
        <li class="inline-block px-2 py-1 text-white bg-[#316192]">Postgres</li>
        <li class="inline-block px-2 py-1 text-black bg-[#f6f623]">CQRS/Event Sourcing</li>
        <li class="inline-block px-2 py-1 text-white bg-[#186328]">Oban</li>
    </ol>

    <h3 style="margin-bottom: 0; margin-top: 0;">Beginner</h3>

    <ol class="list-none p-0 m-0">
        <li class="inline-block px-2 py-1 text-white bg-[#ed8702]">Ash Framework</li>
        <li class="inline-block px-2 py-1 text-white bg-[#f74b00]">Rust</li>
        <li class="inline-block px-2 py-1 text-white bg-[#2088ff]">Docker</li>
        <li class="inline-block px-2 py-1 text-white bg-[#f35124]">Svelte</li>
        <li class="inline-block px-2 py-1 text-white bg-[#f35124]">SvelteKit</li>
        <li class="inline-block px-2 py-1 text-black bg-[#00d8ff]">React</li>
        <li class="inline-block px-2 py-1 text-black bg-[#00d8ff]">React Native</li>
    </ol>

    <h3 style="margin-bottom: 0; margin-top: 0;">Upcoming</h3>

    <ol class="list-none p-0 m-0">
        <li class="inline-block px-2 py-1 text-white bg-[#f6a81c]">OpenTelemetry</li>
        <li class="inline-block px-2 py-1 text-white bg-[#000000]">Advanced CQRS/Event Sourcing</li>
        <li class="inline-block px-2 py-1 text-white bg-[#000000]">Advanced GenServer/Supervision</li>
    </ol>

    <h3 style="margin-bottom: 0; margin-top: 0;">Historical</h3>

    <ol class="list-none p-0 m-0">
        <li class="inline-block px-2 py-1 text-white bg-[#349eff]">Objective-C</li>
        <li class="inline-block px-2 py-1 text-white bg-[#f04e29]">Swift</li>
        <li class="inline-block px-2 py-1 text-white bg-[#2a5099]">MacOS</li>
        <li class="inline-block px-2 py-1 text-white bg-[#000000]">iOS</li>
        <li class="inline-block px-2 py-1 text-white bg-[#dc0000]">Ruby on Rails</li>
        <li class="inline-block px-2 py-1 text-white bg-[#617cbe]">PHP</li>
        <li class="inline-block px-2 py-1 text-white bg-[#0196c1]">Perl</li>
    </ol>


    <h2 style="margin-top: 3em;">Recent Client Outcomes</h2>

    <ul>
        <li>Worked with product owners to <strong>define, break down, and execute</strong> a proposal approval workflow system for a company in the accounting space.</li>
        <li>Integrated <strong>interactive chart components</strong> into LiveView experiences for accounting software.</li>
        <li>Built <strong>OAuth</strong> and <strong>API consumption</strong> logic against Google and Microsoft Graph
            for a company in the security observation space.</li>
        <li>Ongoing maintenance and enhancements to a HIPAA-compliant healthcare platform spanning <strong>mobile
                apps</strong>, <strong>admin web</strong>, and <strong>GraphQL</strong>.</li>
        <li>Helped a text and voice communications team <strong>replace an Ember UI with LiveView</strong>, including a
            stepped wizard
            experience, client-side S3 uploads, and CSV processing.</li>
        <li>Contributed to a large e-commerce platform's migration from Java to Elixir, including individual
            contributions related to <strong>Facebook API integrations</strong> alongside <strong>heavy
                mentoring</strong> of previous Java team members
            new to Elixir.</li>
    </ul>

    <h2 style="margin-top: 3em;">Rate and Availability</h2>

    <p>I am <strong>available</strong> and looking for new projects; ideally in the 15-32 hour per week range.</p>

    <p>My rate is <strong>$130-$180</strong> per hour, with discounts available for open-source
        initiatives or long-term commitments.</p>

    <div class="text-center my-12 not-prose">
        <a href="mailto:zorn@zornlabs.com" class="inline-block border border-black rounded-lg bg-[#4A90E2] text-white px-2.5 py-2 text-2xl no-underline mr-4 hover:underline active:text-red-500">Reach out via email</a>
        <a href="https://savvycal.com/zorn/chat" class="inline-block border border-black rounded-lg bg-[#4A90E2] text-white px-2.5 py-2 text-2xl no-underline mr-4 hover:underline active:text-red-500">Create a calendar meeting</a>
    </div>

    <h2 style="margin-top: 3em;">Testimonials</h2>

    <blockquote style="margin-bottom: 0;" cite="https://www.linkedin.com/in/mikezornek/">
        Michael's worked with us on multiple projects as a fractional engineering leader and I couldn't recommend him
        more highly. He's excellent at working with non-technical stakeholders and junior engineers alike, he's a great
        engineer, and a deep appreciation for context permeates all the work he does. He's also a really nice guy and
        very easy to work with. You should work with Mike if you get the chance.
    </blockquote>

    <p style="margin-top: 0.5em;">~ Peter Berg, Founder at Forward <a href="https://www.linkedin.com/in/mikezornek/">via
        LinkedIn</a></p>

    <blockquote style="margin-bottom: 0;" cite="https://www.linkedin.com/in/mikezornek/">
        Zorn is a great Software Engineer, but also a great mentor to other Engineers on the team and an amazing
        partner
        and resource for Product teams. I would love to work with him again!
    </blockquote>
    <p style="margin-top: 0.5em;">~ Robert Prehn, Fractional CTO & Tech Lead <a href="https://www.linkedin.com/in/mikezornek/">via
        LinkedIn</a></p>


    <blockquote style="margin-bottom: 0;" cite="https://www.linkedin.com/in/mikezornek/">
        We would highly recommend Michael to anyone who would benefit from a senior software developer with an
        excellent technical approach, wide and deep knowledge as well as a great attitude.<br />
        <br />
        Michael was a valuable contributor to our startup project. His feedback during code reviews was invaluable. He
        dramatically improved the quality of our code base. As if that wasn't enough, Michael did an excellent job
        leading by example in software development best practices, while demonstrating excellent initiative, and self
        management. We would gladly work with Michael again.
    </blockquote>

    <p style="margin-top: 0.5em;">~ Taun Chapman, CTO & Co-founder at ROAR for Good <a href="https://www.linkedin.com/in/mikezornek/">via
        LinkedIn</a></p>

    <p>More background and testimonials <a href="https://www.linkedin.com/in/mikezornek/">on LinkedIn</a>.</p>

    <h2 style="margin-top: 3em; margin-bottom: 1em;">Examples of My Work</h2>

    <h2>Articles</h2>

    <ul>
        <li><a href="/posts/2024/9/elixir-code-aesthetic/">Personal Elixir Code Aesthetics</a></li>
        <li>
            <a href="/posts/2023/3/potential-consulting-client-questions/">Potential Consulting
                Client Questions</a>
        </li>
        <li>
            <a href="/posts/2023/4/technical-debt/">Notes about Technical Debt</a>
        </li>
        <li>
            <a href="/posts/2021/2/securing-webhook-payload-delivery/">Securing Webhook
                Payload Delivery in Phoenix</a>
        </li>
    </ul>

    <h2>Open Source</h2>

    <div>
        <p>The following are some side projects I've tinkered with in my spare time. They aren't explicitly prepared as a polished technical demonstration, but if you look around, you can get a feel for how I like to work (consistent contexts, detailed documentation, broken down issues/pull requests, etc.).</p>

        <ul>
            <li>
                <a href="https://github.com/zorn/flick">Flick</a> is a work-in-progress app built using Elixir and Phoenix LiveView that allows for ballot creation and captures ranked votes. We use ranked voting to help pick books for <a href="https://elixirbookclub.github.io/website/">Elixir Book Club</a>, and this is what we use.
            </li>
            <li>
                <a
                href="https://github.com/zorn/franklin">Franklin</a> is an intentionally over-engineered
                blog
                application written in Elixir. It was a project I worked on to get more familiar with event sourcing using <a
                href="https://github.com/commanded/commanded">Commanded</a>. While I am anxious to use event sourcing in the future, this project did not ship and remains an abandoned historic tinker space.
            </li>
        </ul>
    </div>

    <h2>Videos</h2>

    <div>
        <p style="margin-top: 2em; font-weight: bold; font-size: 22px; clear: both;">
            Creating Your First Elixir/Phoenix CI Check with GitHub Actions
        </p>

        <p>
            <a style="float:right; margin-left: 8px;" href="https://www.youtube.com/watch?v=wF3llh4VLlQ">
                <img width="275px" src="/images/for-hire/github-actions.jpeg" />
            </a>

            <a href="https://www.youtube.com/watch?v=wF3llh4VLlQ">YouTube</a> &mdash; This talk is for people
            curious about
            the basics of GitHub Actions and how they can utilize this
            automation tool to better verify code changes within their Elixir projects. The presentations consisted of
            of a lecture, live audience exercises on GitHub, and closed with time for questions.
        </p>

        <p>GitHub Actions enables you to build custom automations right within your GitHub repo. These
            automations can be used for Continuous Integration checks (verifying the app builds with no
            warnings,
            all the tests pass, etc), Continuous Deployment (package your app for release, execute the release,
            etc.), and many other creative workflows. The service is free for public repos and has a generous
            allocation for free-account private repos.
        </p>
    </div>

    <div>
        <p style="margin-top: 2em; font-weight: bold; font-size: 22px; clear: both;">
            GitHub Projects to Help You Organize Your Side Project TODO List
        </p>

        <p>
            <a style="float:right; margin-left: 8px;" href="https://www.youtube.com/watch?v=bUE846fGFec">
                <img width="275px" src="/images/for-hire/github-projects.jpeg" />
            </a>

            <a href="https://www.youtube.com/watch?v=bUE846fGFec">YouTube</a> &mdash; During this presentation, I introduced and demoed GitHub Projects to help you track and manage issue status alongside
            custom fields related to your GitHub issues.
        </p>
    </div>

    <div>
        <p style="margin-top: 2em; font-weight: bold; font-size: 22px; clear: both;">
            Exercism Elixir Track
        </p>

        <p>
            <a style="float:right; margin-left: 8px;"
                href="https://www.youtube.com/playlist?list=PLcuknvxBZ9L6wgG61cQnfyjfNUSFX2G5O">
                <img width="275px" src="/images/for-hire/exercism.jpeg" />
            </a>

            <a href="https://www.youtube.com/playlist?list=PLcuknvxBZ9L6wgG61cQnfyjfNUSFX2G5O">YouTube</a> &mdash;
            Exercism is a platform that provides a learning experience for programmers. It provides a series of
            exercises that you can work through.
        </p>

        <p>I recorded myself working through the Elixir track and created a video
            series to help others learn Elixir.</p>
    </div>

    <h2 style="margin-top: 3em; clear: both;">Community</h2>

    <ul>
        <li>
            <a href="https://elixirbookclub.github.io/website/">Elixir Book Club</a> (admin) biweekly book club reading and
            discussing topics of Elixir and general programming.
        </li>
    </ul>

    <div class="text-center my-12 not-prose">
        <a href="mailto:zorn@zornlabs.com" class="inline-block border border-black rounded-lg bg-[#4A90E2] text-white px-2.5 py-2 text-2xl no-underline mr-4 hover:underline active:text-red-500">Reach out via email</a>
        <a href="https://savvycal.com/zorn/chat" class="inline-block border border-black rounded-lg bg-[#4A90E2] text-white px-2.5 py-2 text-2xl no-underline mr-4 hover:underline active:text-red-500">Create a calendar meeting</a>
    </div>

</div>
</div>

{{ end }}
