{{ define "main" }}
  <div
    class="prose prose-p:leading-[1.5] prose-headings:mb-2 prose-a:text-purple-600 prose-a:visited:text-purple-900 mx-auto max-w-screen-md px-4 md:px-0"
  >
    <h1 class="sr-only">Who is Mike Zornek?</h1>

    <p class="not-prose float-right m-0">
      {{ partial "zorn-avatar.html" . }}
    </p>

    <p>
      Hello! My name is Mike Zornek. I describe myself as both a developer and
      teacher, and I've been building digital products for over 25 years.
    </p>

    <p>
      From the suburbs of Philadelphia, I code in
      <a href="https://elixir-lang.org">Elixir</a>
      . When I am not coding, I enjoy watching
      <a href="https://www.mlb.com/phillies">Phillies</a>
      baseball and playing video games (mostly laid-back simulations and RPGs).
    </p>

    <h2>Recent Blog Posts</h2>

    <ul>
      {{ range first 7 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          |
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
