{{ define "main" }}
<div class="max-w-screen-md mx-auto prose prose-p:leading-[1.5] prose-headings:mb-2 prose-a:text-purple-600 prose-a:visited:text-purple-900">

    <p><img src="/images/zorn_square.png" class="not-prose size-32 rounded-full float-right m-0" /></p>

    <p>Hello! My name is Mike Zornek. I describe myself as both a developer and teacher, and I've been
        building digital products for over 25 years.</p>

    <p>From the suburbs of Philadelphia, I code in <a href="https://elixir-lang.org">Elixir</a>. When I am not coding, I enjoy watching <a href="https://www.mlb.com/phillies">Phillies</a> baseball and playing
        video games (mostly laid-back simulations and RPGs).</p>

    <h2>Recent Blog Posts</h2>

    <ul>
        {{ range first 7 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> | <time>{{ .Date.Format "Jan 2, 2006" }}</time></li>
        {{ end }}
    </ul>

</div>

{{ end }}
