{{ define "main" }}
  <main id="main-content" tabindex="-1">
    <div class="mx-auto max-w-screen-md px-4 md:px-0">
      <div
        class="prose prose-p:leading-[1.5] prose-headings:mb-2 prose-a:text-purple-600 prose-a:visited:text-purple-900 max-w-none"
      >
        {{ if and (eq .Section "posts") (eq .Paginator.PageNumber 1) }}
          {{ partial "browse-taxonomies.html" . }}
        {{ end }}

        {{ partial "pagination.html" . }}


        {{ range .Paginator.Pages }}
          {{ partial "post-card.html" (dict "page" .) }}
        {{ end }}

        {{ partial "pagination.html" . }}
      </div>
    </div>
  </main>
{{ end }}
