{{ define "main" }}
  <main>
    <div class="mx-auto max-w-screen-md px-4 md:px-0">
      <article
        class="prose prose-p:leading-[1.5] prose-headings:mb-2 prose-a:text-purple-600 prose-a:visited:text-purple-900 max-w-none"
      >
        <h1 style="margin-bottom:0;">{{ .Title }}</h1>
        <p style="margin-top:0;color:#595959;">
          Posted on
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        </p>
        <div>
          {{ .Content }}
        </div>
        {{ with .Params.tags }}
          <div>
            <ul id="tags">
              {{ range . }}
                <li>
                  <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                    {{ . }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </article>
    </div>
  </main>
{{ end }}
