{{ define "main" }}
<div class="content-row">

    <p><img src="/images/zorn_square.png" class="avatar" /></p>

    <p>Hello! My name is <b>Mike Zornek</b>. I am a self-employed (<a href="/for-hire/">hire me!</a>) developer and
        teacher from Philadelphia, PA.</p>

    <p>I enjoy building digital products and sharing the joys and frustrations of computers through education. My
        primary programming language of choice is currently <a href="https://elixir-lang.org">Elixir</a>
        and I've been working with it since 2017. I tend to do freelance consulting for people using <a
            href="https://phoenixframework.org/">Phoenix</a> and <a
            href="https://github.com/phoenixframework/phoenix_live_view">LiveView</a> to build web applications of many
        sizes.</p>

    <p>I am actively trying to get more familiar with CQRS (Command Query Responsibility Segregation) / event-sourced
        application design patterns. I am also interested in the ever-increasing maturity of LiveView
        components, Tailwind, and other user interface tools. I consider myself a bit of a UI snob and would love to
        improve my ability to build web-based UI without losing my soul to unruly HTML templates of doom.</p>

    <p>When I am not coding, I enjoy watching baseball (go Phillies!) and playing videos games; more often than not, RPG
        games from the SNES era.</p>

    <p>I am an active member of many Philadelphia-based communities including: <a
            href="http://indyhall.org/">IndyHall</a>, <a href="https://www.meetup.com/PhillyElixir">Philly Elixir</a>
        and <a href="http://phillycocoa.org/">Philly CocoaHeads</a>.</p>

    <p><a href="/follow">Follow</a> me and my projects!</p>

    <h2>Recent Blog Posts</h2>

    <ul>
        {{ range first 7 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> | <time>{{ .Date.Format "Jan 2, 2006" }}</time></li>
        {{ end }}
    </ul>

</div>

{{ end }}
