{{ define "main" }}
<div class="content-row">

    <p><img src="/images/zorn_square.png" class="avatar" /></p>

    <p>Hello! My name is Mike Zornek. I describe myself as both a developer and teacher, and I've been
        building digital products for over 25 years.</p>

    <p>From the suburbs of Philadelphia, I code in <a href="https://elixir-lang.org">Elixir</a> for <a
            href="https://www.allovue.com/">Allovue</a>, which builds accounting software for school districts. In my
        spare time, I hack on a few different <a href="/projects/">projects</a>, including <a
            href="https://github.com/studyhall-project/studyhall">StudyHall</a>, which hopes to be an open-source
        courseware for people who teach programming.</p>

    <p>When I am not coding, I enjoy watching <a href="https://www.mlb.com/phillies">Phillies</a> baseball and playing
        video games (mostly laid-back simulations and RPGs).</p>

    <p>I am an active member of many Philadelphia-based communities, including: <a href="http://indyhall.org/">Indy
            Hall</a> and <a href="http://phillycocoa.org/">Philly CocoaHeads</a>.</p>

    <h2>Recent Blog Posts</h2>

    <ul>
        {{ range first 7 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> | <time>{{ .Date.Format "Jan 2, 2006" }}</time></li>
        {{ end }}
    </ul>

</div>

{{ end }}
